<.header>
  Ingredient {@ingredient.id}
  <:subtitle>This is a ingredient record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/ingredients/#{@ingredient}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit ingredient</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@ingredient.name}</:item>
  <:item title="Unit">{@ingredient.unit}</:item>
  <:item title="Calories">{@ingredient.calories}</:item>
  <:item title="Protein">{@ingredient.protein}</:item>
  <:item title="Fat">{@ingredient.fat}</:item>
  <:item title="Carbs">{@ingredient.carbs}</:item>
</.list>

<.back navigate={~p"/ingredients"}>Back to ingredients</.back>

<.modal :if={@live_action == :edit} id="ingredient-modal" show on_cancel={JS.patch(~p"/ingredients/#{@ingredient}")}>
  <.live_component
    module={SmartRecipeCalculatorWeb.IngredientLive.FormComponent}
    id={@ingredient.id}
    title={@page_title}
    action={@live_action}
    ingredient={@ingredient}
    patch={~p"/ingredients/#{@ingredient}"}
  />
</.modal>
