<.simple_form
  for={@changeset}
  id="recipe_detail-form"
  phx-target={@myself}
  phx-change="validate"
  phx-submit="save"
>
  <:actions>
    <.button phx-disable-with="Saving...">Add Detail</.button>
  </:actions>
</.simple_form> 